@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700&display=swap");

.section .container {
  padding-top: 50px;
  padding-bottom: 70px;
}

.section-title {
  max-width: 100%;
  flex: 100%;
  margin-bottom: 50px;
}

.section-title h2 {
  font-size: 28px;
  font-weight: 700;
  color: var(--text-black-900);
  position: relative;
}

.section-title h2::before {
  content: "";
  width: 50px;
  height: 4px;
  position: absolute;
  top: 100%;
  left: 0;
  border-radius: 5px;
  background-color: var(--skin-color);
}

.section-title h2::after {
  content: "";
  width: 25px;
  height: 4px;
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 10px;
  border-radius: 5px;
  background-color: var(--skin-color);
}

.about-me-content {
  max-width: 100%;
  flex: 100%;
}

.about-me-content .about-me-text {
  flex: 100%;
  max-width: 100%;
}

.about-me-content .about-me-text h3 {
  font-size: 24px;
  color: var(--text-black-900);
  margin-bottom: 20px;
  font-weight: 600;
}

.about-me-content .about-me-text h3 span {
  color: var(--skin-color);
}

.about-me-content .about-me-text p {
  font-size: 16px;
  color: var(--text-black-700);
  line-height: 30px;
  text-align: justify;
}

.p-1,
.p-2,
.p-3,
.p-4 {
  margin-bottom: 15px;
}

.about-me-content .profile {
  max-width: 65%;
  flex: 65%;
  margin-top: 40px;
}

.profile .profile-info {
  flex: 50%;
  max-width: 50%;
}

.profile .profile-info p {
  padding: 5px 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 16px;
  color: var(--text-black-900);
  border-bottom: 1px solid var(--bg-black-50);
}

.profile .profile-info span {
  display: inline-block;
  color: var(--text-black-700);
  font-weight: 400;
}

.profile .profile-info span a:hover {
  color: var(--skin-color);
}
.profile .buttons {
  margin-top: 30px;
}

.profile .buttons .btn {
  margin-right: 40px;
}

.about-me-content .skills {
  max-width: 40%;
  flex: 35%;
  margin-top: 20px;
}

.about-me-content .skills .skill-list {
  flex: 100%;
  max-width: 100%;
}

.about-me-content .skills .skill-list h4 {
  font-size: 16px;
  text-transform: capitalize;
  line-height: 35px;
  color: var(--text-black-900);
}

.about-me-content .skills .skill-list {
  margin-bottom: 20px;
}

.about-me-content .skills .skill-list .progress {
  height: 7px;
  width: 100%;
  border-radius: 4px;
  background-color: var(--bg-black-50);
  position: relative;
}

.about-me-content .skills .skill-list .progress .progress-in {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-radius: 4px;
  background-color: var(--skin-color);
}

.about-me-content .skills .skill-list .progress .skill-percent {
  position: absolute;
  top: -40px;
  right: 0;
  font-weight: 400;
  line-height: 40px;
  color: var(--text-black-900);
}

.about-me-content .education, 
.about-me-content .experience {
  max-width: 50%;
  flex: 50%;
  margin-top: 40px;
}

.about-me-content h3.title {
    color: var(--text-black-900);
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 30px;
}

.about-me-content .e-info-box {
  flex: 100%;
  max-width: 100%;
}

.about-me-content .e-info {
  position: relative;
  padding: 30px 15px;
  width: 100%;
  border: 1px solid var(--bg-black-50);
  border-radius: 10px;
  background-color: var(--bg-black-100);
  
}

.dark-box-shadow {
  box-shadow: 0 0 20px rgba(45, 40, 75, 0.15);
}

.about-me-content .e-list {
    padding-left: 40px;
    padding-bottom: 30px;
    position: relative;
}

.about-me-content .e-list:last-child {
  padding-bottom: 0;
}

.about-me-content .e-list::before {
  content: '';
  position: absolute;
  top: 0;
  left: 10px;
  height: 100%;
  width: 1.5px;
  background-color: var(--skin-color);
}

.about-me-content .e-list .circle-dot {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 3px;
  background-color: var(--skin-color);
  border-radius: 50%;
}

.about-me-content .e-list .e-date {
  font-size: 16px;
  font-weight: 500;  
  margin-bottom: 10px;
  color: var(--text-black-700);
}

.about-me-content .e-list .e-date .fa-calendar {
  margin-right: 15px; 
}

.about-me-content .education .e-list .e-title {
  text-transform: capitalize;
  margin-bottom: 5px;
  font-weight: 600;
  color: var(--text-black-900);
}

.e-title, .e-text {
  color: var(--text-black-700);
  text-transform: capitalize;
}

.e-title {
  font-weight: 600;
  margin-bottom: 5px;
}



