@media (max-width: 1200px) {

    .aside {
        left: -270px;
    }

    .main-content {
        padding: 0;
    }

    .about-me-content .profile .row .profile-info p span {
        display: block;
        /* margin-left: 0; */
    }
}

@media (max-width: 990px) {

    .home .home-info {
        flex: 100%;
        max-width: 100%;
    }

    .home .home-img {
        display: none;
    }

    .service .service-item,
    .portfolio .portfolio-item,
    .contact .contact-info-item {
        flex: 50%;
        max-width: 50%;
    }
    
}

@media (max-width: 790px) {

    .portfolio .portfolio-item,
    .service .service-item,
    .about-me-content .profile,
    .about-me-content .skills,
    .about-me-content .education,
    .about-me-content .experience,
    .contact .contact-info-item,
    .contact .contact-form .col-6{
        flex: 100%;
        max-width: 100%;
    }

}

@media (max-width: 510px ) {
 
    .about-me-content .profile .profile-info {
        flex: 100%;
        max-width: 100%;
        text-align: center;        
    }
}

@media (max-width: 452px) {
.about-me-content .profile .buttons .hire-me {        
    margin: auto;    
    }
}

@media (max-width: 412px) {
 
   .about-me-content .profile .buttons .btn{
        flex: 50%;
        max-width: 50%;                
   }
 }

 @media (max-width: 407px) {
   
    .about-me-content .profile .buttons .btn{
         flex: 100%;
         max-width: 100%;
         margin: auto;
         text-align: center;
         margin-top: 20px;             
    }
}