.style-switcher {
    
    position: fixed;
    top: 20px;
    right: 0;
    padding: 15px;
    width: 190px;
    border: 1px solid var(--bg-black-50);
    border-radius: 5px;
    background: var(--bg-black-100);
    transition: all 0.3 ease;
    transform: translateX(100%);
    z-index: 101;
}

.style-switcher.open {
    transform: translateX(-10%);
}

.style-switcher .s-icon {
    position: absolute;
    right: 100%;
    height: 40px;
    width: 40px;
    text-align: center;
    font-size: 18px;
    border: 1px solid var(--bg-black-50);
    border-radius: 50%;
    color: var(--text-black-900);
    background: var(--bg-black-100);
    margin-right: 20px;
    transition: all 0.3 ease;
    cursor: pointer;
}

.style-switcher .s-icon i {
    line-height: 40px;
}

.style-switcher .day-night {
    top: 60px;
}

.style-switcher h4{
    font-size: 16px;
    font-weight: 600;
    margin: 0 0 10px;
    color: var(--text-black-700);
    text-transform: capitalize;
}

.style-switcher .colors {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.style-switcher .colors span {
    display: inline-block;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    /* border: 1px solid red; */
}

.style-switcher .colors .color-1 {
    background-color: #ec1839;
}

.style-switcher .colors .color-2 {
    background-color: #f7a714;
}

.style-switcher .colors .color-3 {
    background-color: #06a70e;
}

.style-switcher .colors .color-4 {
    background-color: #1d0781;
}

.style-switcher .colors .color-5 {
    background-color: #c409ba;
} 

.style-switcher .colors .color-1,
.style-switcher .colors .color-2,
.style-switcher .colors .color-3,
.style-switcher .colors .color-4,
.style-switcher .colors .color-5 {

    cursor: pointer;
    
}